<!DOCTYPE html>
<html lang="en" ng-app="facesearch" class="fill-height">
<head>
    <meta charset="UTF-8">
    <title>Face Search</title>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/jquery-3.1.1.min.js"></script>
    <script src="../styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/ui-bootstrap-tpls-2.3.2.min.js"></script>
    <script src="../scripts/ng-file-upload-shim.min.js"></script>
    <script src="../scripts/ng-file-upload.min.js"></script> <!-- file uploader -->
    <script src="../scripts/bootbox.min.js"></script> <!-- popup alert -->
    <script src="d3.js"></script>
    <script src="plot.js"></script>
    <script src="thumbnail.js"></script>
    <script src="angular-bootbox.js"></script>
    <script src="modalComponents.js"></script>
    <script src="face-search.js"></script>
</head>
<body class="fill-height">

<div ng-controller="faceSearchController" class="container-fluid fill-height">

    <!-- error alert -->
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-danger'" dismiss-on-timeout="4000" close="closeAlert($index)">{{alert.msg}}</div>

    <!-- loading spinner -->
    <div ng-show="isBusy" id="spinner">
        <img src="spinner.gif" style="display: block; margin: 0 auto; width: 32px; height: 32px; opacity: 0.8;"/>
        <div style="margin-top: 15px;">Loading...</div>
    </div>

    <!-- Input Area -->
    <div class="row fill-height">

        <!-- Left Panel -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 fill-height" style="display: flex; flex-direction: column; padding-top: 10px; padding-bottom: 10px">

            <div class="left-panel">
                <!-- logo -->
                <img src="logo.png" class="logo">

                <div class="rounded-panel">
                    <form>
                        <p>
                            <label>Upload an image:</label>
                            <input type="file" ngf-select ng-model="formModel.file" name="file"
                                   accept="image/*" ngf-max-size="5MB" required ng-change="upload()" ng-disabled="isBusy || editing">
                        </p>
                        <p>
                            <label>Or provide image URL:</label>
                            <input type="text" ng-model="formModel.imageURL"/>
                            <button class="btn btn-primary btn-xs" ng-disabled="isBusy|| editing" ng-click="upload()">Upload</button>
                        </p>
                    </form>

                </div>

                <div class="edit-panel" ng-if="imageFilename" ng-repeat="path in [imageFilename]">
                    <p><b>Draw bounding box (optional):</b></p>
                    <plot image-path="{{uploadImageDir}}/{{path}}" plot-api="plotAPI"></plot>
                    <div ng-if="!editing">
                        <button class="btn btn-primary btn-xs" ng-click="resetImage()" ng-disabled="!plotAPI.isDrawn()">Reset</button>
                        <button class="btn btn-primary btn-xs" ng-click="cancelImage()">Cancel</button>
                        <button class="btn btn-primary btn-xs" ng-click="addImage()">Add</button>
                    </div>
                    <div ng-if="editing">
                        <button class="btn btn-primary btn-xs" ng-click="resetImage()" ng-disabled="!plotAPI.isDrawn()">Reset</button>
                        <button class="btn btn-primary btn-xs" ng-click="cancelEdit()">Cancel</button>
                        <button class="btn btn-primary btn-xs" ng-click="applyEdit()">Apply</button>
                    </div>

                </div>
            </div>
        </div> <!-- end of left panel -->

        <!-- Right panel -->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 fill-height">

            <!-- image list -->
            <div ngf-drop="uploadFiles($files)" class="images-panel"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                 ngf-pattern="'image/*'" ngf-max-size="5MB">
                <span ng-if="imageCount == 0" style="text-align: center; color: lightgray;">Drop Images Here</span>
                <div ng-repeat="(path, box) in images track by $index" style="position:relative;display: inline-block;">
                    <thumbnail class="thumbnail"
                               img-src="{{uploadImageDir}}/{{path}}"
                               box-x="box.face_x"
                               box-y="box.face_y"
                               box-width="box.face_width"
                               box-height="box.face_height"
                               crop="true"
                               display-height="150"
                                display-width="150"
                                ng-click="isBusy || debug(path)"
                                style="cursor: pointer">
                    </thumbnail>
                    <button class="btn btn-xs thumbnail-close glyphicon glyphicon-remove" ng-click="removeImage(path)"></button>
                    <button class="btn btn-xs thumbnail-edit glyphicon glyphicon-edit" ng-click="editImage(path)"></button>
                </div>
            </div> <!-- end of image list -->

            <label>No. of Results</label> (1 to 50)
            <input type="number" min="1" max="50" ng-model="formModel.maxResults">
            <button class="btn btn-primary btn-xs" ng-click="search()" ng-disabled="imageCount == 0 || isBusy">
                <span ng-show="isSearching" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                Search
            </button>
            <button class="btn btn-primary btn-xs" ng-click="clear()" ng-disabled="isBusy || (imageCount == 0 && !result)">
                Clear
            </button>

            <!-- result -->
            <div id="result-table" class="result-panel" ng-if="result">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-heading">
                    <tr>
                        <th style="width: 1px; white-space: nowrap; align-content: center">Rank</th>
                        <th style="width: 1px; white-space: nowrap; align-content: center">Template ID</th>
                        <th style="width: 1px; white-space: nowrap">Similarity</th>
                        <th>Subject</th>
                    </tr>
                    </thead>

                    <!-- rows -->
                    <tbody>
                    <tr class="table-row" ng-repeat="r in result track by $index">
                        <td align="center">{{$index + 1}}</td>
                        <td align="center">{{r.template_id}}</td>
                        <td align="center">{{r.similarity}}</td>
                        <td>
                            <thumbnail ng-repeat="template in gallery[r.template_id] | limitTo: 6"
                                       class="img-thumbnail"
                                       img-src="{{galleryImageDir}}{{template.FILENAME}}"
                                       box-x="template.FACE_X"
                                       box-y="template.FACE_Y"
                                       box-width="template.FACE_WIDTH"
                                       box-height="template.FACE_HEIGHT"
                                       display-width="100"
                                       display-height="100"
                                       crop=true
                                       style="vertical-align: bottom; padding-left: 5px; padding-right: 5px"></thumbnail>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- end of result -->

        </div> <!-- end of right panel -->
    </div> <!-- end of input area -->
</div> <!-- end of controller -->

</body>
</html>