<!DOCTYPE html>
<html lang="en" ng-app="facesearch">
<head>
    <meta charset="UTF-8">
    <title>Face Search</title>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap/css/bootstrap.min.css">
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/jquery-3.1.1.min.js"></script>
    <script src="../styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/ui-bootstrap-tpls-2.3.2.min.js"></script>
    <script src="../scripts/ng-file-upload.min.js"></script> <!-- file uploader -->
    <script src="face-search.js"></script>
</head>
<body>

<div ng-controller="faceSearchController" class="container-fluid">
    <form>
        <p>
            <label>Title:</label>
            <input type="text" ng-model="formModel.title"/>
        </p>
        <p>
            <label>Image:</label>
            <input type="file" ngf-select ng-model="formModel.file" name="file"
                   accept="image/*" ngf-max-size="2MB" required>
        </p>
        <p>
            <button class="btn" ng-disabled="isUploading" ng-click="upload()">Submit</button>
        </p>
    </form>
</div> <!-- end of controller -->

</body>
</html>