<div class="modal-body">
    <div>Select from auto face detection</div>
        <thumbnail ng-repeat="d in $ctrl.currentData track by $index"
                   class="thumbnail"
                   img-src="{{$ctrl.uploadDir}}{{$ctrl.files[$ctrl.currentIndex]}}"
                   box-x="d.face_x"
                   box-y="d.face_y"
                   box-width="d.face_width"
                   box-height="d.face_height"
                   crop="true"
                   display-width=150
                   display-height=150
                    ng-click="$ctrl.select($index)"
                    style="cursor: pointer; position:relative;display: inline-block;">
        </thumbnail>
</div>