.logo{
    max-width: 100%;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

#spinner{
    background: #fff;
    width: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
    color: #828282;
    top: 50vh;
    position: absolute;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 10;
}

.thumbnail{
    width: auto;
    height: 150px;
    overflow: auto;
    margin:2px;
}

.thumbnail-select {
    width: auto;
    height: 100px;
    overflow: auto;
    margin:2px;
}

.thumbnail-close {
    position:absolute;
    top:5px;
    right:5px;
    margin:0;
    padding:5px 3px;
}

.thumbnail-edit {
    position:absolute;
    top:5px;
    left:5px;
    margin:0;
    padding:5px 3px;
}

.thumbnail-landmarks{
    width: auto;
    height: 400px;
    overflow: auto;
    margin:2px;
}

.thumbnail-rendered{
    width: auto;
    height: 200px;
    overflow: auto;
    margin:2px;
}

.rounded-panel {
    border-radius: 10px;
    padding:20px;
    background: #FFCC00;
}

.left-panel {
    border-radius: 10px;
    padding:20px;
    background: ghostwhite;
    flex-grow: 1;
}

.tool-box {
    margin-top: 10px;
    position: absolute;
    bottom: 30px;
}

.edit-panel {
    margin-top: 10px;
}

.images-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    border: 5px dashed lightgray;
    border-radius: 5px;
    padding:20px;
    height: 40%;
}

.result-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    height: 50%;
}

.fill-height {
    height: 100%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.dragover {
    border: 5px dashed darkgray;
}