.thumbnail{
    width: auto;
    height: 200px;
    overflow: auto;
    margin:2px;
}

.thumbnail-close {
    position:absolute;
    top:5px;
    right:5px;
    margin:0;
    padding:5px 3px;
}

.thumbnail-edit {
    position:absolute;
    top:5px;
    left:5px;
    margin:0;
    padding:5px 3px;
}

.rounded-panel {
    border-radius: 10px;
    padding:20px;
    background: #FFCC00;
}

.images-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    border: 5px dashed lightgray;
    border-radius: 5px;
    padding:20px;
    height: 40%;
}

.result-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    height: 50%;
}

.fill-height {
    height: 100%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.dragover {
    border: 5px dashed darkgray;
}